
@import "includes/bourbon/bourbon";
@import "includes/config";
@import "includes/foundation";
@import "includes/mixins";
@import "includes/base-styles";
@import "includes/elements";
@import "includes/classes"; 

$chosen-sprite: url('../img/chosen-sprite.png') !default;
$chosen-sprite-retina: url('../img/chosen-sprite@2x.png') !default;

@import "includes/chosen"; 


body {
    font-family: arial, helvetica, sans-serif;
    font-size: 0.85em;
    .container {    
        margin: 0;
        @import "layout/header";
        .browser-message {
            display: none;
            &.ie9 {
                display: block;
                margin: 0 auto;
                text-align: center;
            }
        }
        .content {
            margin: 0 auto;
            text-align: center;
            width: 100%;
            @include media (tablet) {
                width: 100%;
            }
            @include media (mediumDesktop) { 
                width: 100%;
            }
            @include media (largeDesktop) {
                width: 100%; 
            }
            @import "pages/predictions";
            @import "pages/faq";
            @import "pages/about";
        }//end .content
        footer {
            display: none;
        }
        @import "layout/footer";
    }//end .container
}
