footer {
            display: block;
            margin: 30px auto 0 auto;
            width: 100%;
            @include media (tablet) {
                width: 730px;
            }
            @include media (mediumDesktop) {
                width: 850px;
            }
            @include media (largeDesktop) {
                width: 940px; 
            }          
            div {
                margin: 10px 0;
            }
            .disclaimer {
                p {
                    margin: 10px 0;
                }
            }

            @include clearfix();             
}//End footer