.predictions-container {
	display: none;
	margin: 0 auto;
	width: 375px;
	@include media(tablet) {
		width: 600px;
	}
	@include media(mediumDesktop) {
		width: 600px;
	}         
	@include media(largeDesktop) {
		width: 600px;
	} 	
	p {
		margin: 0 0 10px 0;
	}

	.predictions-header {
		display: block;
		width: 100%;
		@include clearfix();
	}

	.boat-predictions,
	.bus-predictions,
	.commuter-rail-predictions,
	.subway-predictions {
		border: 2px solid #e7e7e7;
		border-radius: 3px;
		min-height: 125px;
		.btn-map-container {
			display: block;
			width: 100%;
			.btn-map-show,
			.btn-map-hide {
				float: right;
				margin: 10px 5px 0 0;
			}		
			.btn-map-show {
				display: block;
			}
			.btn-map-hide {
				display: none;
			}
			@include clearfix();	
		}
		.predictions-sub-header {
			font-size: 1em;
			font-weight: bold;	
			margin: 10px 5px 0 0;	

		}	
		hr {
			width: 85%;
		}
		.selected-route,
		.other-route {
			.vehicle {
				font-size: 1.5em;
				margin: 5px 0;						
			}
		}
		.selected-route {
			.vehicle {
				&:first-child {
			                    font-size: 2.5em;
			                    font-weight: bold; 						
				}
			}
		}
		@include clearfix();
	}
}