.bus-countdown-container {
	display: none;
	.bus-stop-container {
		margin: 10px 15px;		
		@include media (tablet) {
			margin: 0 10px 15px 10px;
			width: 600px;
		}
		@include media (mediumDesktop) {
		    	margin: 0 10px 15px 10px;
		    	width: 600px;
		}         
		@include media (largeDesktop) {
		    	margin: 0 auto 15px auto;
		    	width: 600px;
		}   
		.selected-route-container {
			background: #337AB7;
			border: 1px solid #000;
			display: none;
			line-height: 1.5;
			margin: 0 0 10px 0;
			padding: 10px 0 0 0;	
			.bus-times {
				line-height: 1;
				margin:0 0 10px 0;
				.bus-time {
					font-size: 1.5em;
					.arriving {
						font-weight: bold;
					}
				}
				.bus-time.next-bus-time {
					font-size: 2.5em;
					font-weight: bold;					
				}
			}
			.map-text {
				display: none;
				@include media(tablet) {
					display: block;
					margin: 20px 0;
				}
				@include media(mediumDesktop) {
					display: block;
					margin: 20px 0;
				}         
				@include media(largeDesktop) {
					display: block;
					margin: 20px 0;
				} 
			}			
			.no-bus-predictions {
				display: none;
				font-size: 1.5em;
				font-weight: bold;
			}
			.disclaimer-text {
				display: none;
			}
		}//end .selected-route-container
		.also-at-stop-container {
			background: #DEDEDE;
			border: 1px solid #000;
			display: none;
			font-size: 1em;
			height: 100px;
			padding: 10px 10px 0 10px;
			text-align: left;			
		}
		.no-bus-predictions {
			display: none;
			font-size: 1.5em;
			font-weight: bold;			
		}
	}//end .bus-stop-container
    	@include clearfix();        
} //end countdown        