footer {
            display: block;
            margin: 0 auto;
            width: 100%;
            @include media (tablet) {
                width: 730px;
            }
            @include media (mediumDesktop) {
                width: 850px;
            }
            @include media (largeDesktop) {
                width: 940px; 
            }            
            .about {
                p {
                    margin: 10px 0;
                    .faq-link {
                        font-weight: bold;
                        text-decoration: underline;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            @include clearfix();             
}//End footer