footer {
            display: block;
            margin: 0 auto;
            width: 100%;
            @include media (tablet) {
                width: 730px;
            }
            @include media (mediumDesktop) {
                width: 850px;
            }
            @include media (largeDesktop) {
                width: 940px; 
            }            
            .about {
                p {
                    margin: 10px 0;
                }
            }
            .bookmark-text {
                font-weight: bold;
                margin: 10px 0 0 0;
            }

            @include clearfix();             
}//End footer