.route-stops {
        margin: 0 auto 25px auto;

        label {
            display: inline-block;
            text-align: right;
        }


        select {
            display: inline-block;
            width: 280px;
            @include media (tablet) {
                width: 320px;
            }
            @include media (mediumDesktop) {
                width: 320px;
            }
            @include media (largeDesktop) {
                width: 320px;
            }
        }  

        @include clearfix();
}//end .routeStops