.routes-available {
        margin: 0 auto 35px auto;
        text-align: center;
        
        p {
            line-height: 1.5em;
            margin: 0 0 5px 0;
        }

        label {
            display: inline-block;
            text-align: right;
            width: 70px;        
        }

        select {
            display: inline-block;
            width: 280px;
            @include media (tablet) {
                width: 320px;
            }
            @include media (mediumDesktop) {
                width: 320px;
            }
            @include media (largeDesktop) {
                width: 320px;
            }
        } 

        @include clearfix();
}//end .routesAvailable