.route-stops {
        display: none;
        margin: 0 auto 25px auto;

        label {
            display: inline-block;
            text-align: right;
            width: $predictions-form-label-size;
        }


        select {
            display: inline-block;
            width: $screen-mobile-dropdown !important;
            @include media (tablet) {
                width: $screen-sm-dropdown;
            }
            @include media (mediumDesktop) {
                width: $screen-md-dropdown;
            }
            @include media (largeDesktop) {
                width: $screen-lg-dropdown;
            }    
        }  

        .chosen-container {
            text-align: left;
            width: $screen-mobile-dropdown !important;
            @include media (tablet) {
                width: $screen-sm-dropdown;
            }
            @include media (mediumDesktop) {
                width: $screen-md-dropdown;
            }
            @include media (largeDesktop) {
                width: $screen-lg-dropdown;
            }            
        }        

        @include clearfix();
}//end .routeStops