.bus-countdown-container {
	display: none;
	.bus-predictions {
		display: none;
		margin: 10px 15px;		
		@include media (tablet) {
			margin: 0 10px 15px 10px;
			width: 600px;
		}
		@include media (mediumDesktop) {
		    	margin: 0 10px 15px 10px;
		    	width: 600px;
		}         
		@include media (largeDesktop) {
		    	margin: 0 auto 15px auto;
		    	width: 600px;
		}     		
		.bus-stop-predictions {
			background: #337AB7;
			border: 1px solid #000;
			margin: 0 0 10px 0;
			.bus-times { 
				.bus-time.next-bus-time {
					font-size: 2.5em;
					font-weight: bold;
				}

				.bus-time {
					font-size: 1.5em;
					.disclaimer,
					.next-bus-arriving {
						display: none;
					}
					.also-at-stop-single {
						display: none;
						font-size: 0.5em !important;
						font-weight: normal;
					}				
				}
			}	
			@include clearfix();		
		} //end .bus-stop-predictions
		.also-at-stop-predictions {
			background: #DEDEDE;
			border: 1px solid #000;
			display: none;
			height: 100px;
			padding: 0 10px;
			text-align: left;
			.also-at-stop-bus-times {
				.bus-arriving {
					display: none;
				}
				.minutes {
					font-weight: bold;
				}
			}
		}
		.map-text {
			display: none;
			@include media(tablet) {
				display: block;
				margin: 20px 0;
			}
			@include media(mediumDesktop) {
				display: block;
				margin: 20px 0;
			}         
			@include media(largeDesktop) {
				display: block;
				margin: 20px 0;
			} 
		}
		.disclaimer-text {
			display: none;
			margin: 20px 0 0 0;
		}		
	}

	.no-bus-predictions {
		display: none;
		font-size: 1.5em;
		font-weight: bold;
	}


    	@include clearfix();        
} //End countdown        