.bus-countdown-container {
	display: none;

	.bus-predictions {
		display: none;
		margin: 10px 15px;
		@include media (tablet) {
			margin: 0 10px 15px 10px;
		}
		@include media (mediumDesktop) {
		    	margin: 0 10px 15px 10px;
		}         
		@include media (largeDesktop) {
		    	margin: 0 10px 15px 10px;
		}      
		.next-bus-time {
			font-size: 2.5em;
			font-weight: bold;
			.next-bus-arriving, 
			.disclaimer {
				display: none;
			}
		}

		.second-bus-time, 
		.third-bus-time {
			font-size: 1.5em;
		}
		
		.next-bus-time, 
		.second-bus-time, 
		.third-bus-time, 
		.next-bus-arriving {
			display: none;
		}

		.disclaimer-text {
			display: none;
			margin: 20px 0 0 0;
		}
	}

	.no-bus-predictions {
		display: none;
		font-size: 1.5em;
		font-weight: bold;
	}


    	@include clearfix();        
} //End countdown        