footer {
            display: block;
            margin: 0 auto;
            width: 100%;
            @include media (tablet) {
                width: 730px;
            }
            @include media (mediumDesktop) {
                width: 850px;
            }
            @include media (largeDesktop) {
                width: 940px; 
            }            
            .about {
                p {
                    margin: 10px 0;
                }
            }
            .bookmark-text {
                font-weight: bold;
                margin: 10px 0 0 0;
            }

            /*.mapKey {
                display: none;
            }
            @include media (tablet) {
                margin: 0 15px;
                width: 650px;  
                .mapKey {
                    display: block;
                }                            
            }
            @include media (mediumDesktop) {
                margin: 0 15px;
                width: 750px;
                .mapKey {
                    display: block;
                }                                
            }         
            @include media (largeDesktop) {
                margin: 0 15px;
                width: 900px;
                .mapKey {
                    display: block;
                }                                
            } */


            @include clearfix();             
}//End footer