.showMap {
    display: block;
    margin: 15px 5px;
    @include media (tablet) {
        display: none;    
    }
    @include media (mediumDesktop) {
        display: none;  
    }         
    @include media (largeDesktop) {
        display: none;   
    }                
}
.mapArea {
    margin: 0 15px 15px 15px;
    #map_canvas {
        display: none;
        height: 650px;
        margin: 0 auto;
        @include media (tablet) {
            display: block;
            width: 100%;    
        }
        @include media (mediumDesktop) {
            display: block;
            width: 100%;    
        }         
        @include media (largeDesktop) {
            display: block;
            width: 100%;    
        }                                                   
    }
 @include clearfix();   
}//End map area
