.routeInfo {
    margin: 20px 0 0 0;
    .routesAvailable, 
    .routeStops, 
    .routeDirection {
        margin: 0 0 25px 0;
        label {
            display: inline-block;
            text-align: right;
            width: 60px;
        }

        select {
            display: inline-block;
            width: 280px;
            @include media (tablet) {
                width: 320px;
            }
            @include media (mediumDesktop) {
                width: 320px;
            }
            @include media (largeDesktop) {
                width: 320px;
            }
        }

        button {
            float: left;
            margin: 5px 0 0 27px;
            @include media (tablet) {
                float: none;
                width: 165px !important; 
            }
            @include media (mediumDesktop) {
                float: none;
                width: 165px !important; 
            }
            @include media (largeDesktop) {
                float: none;
                width: 165px !important; 
            }                
        }        

        @include clearfix();
    }//end .routesAvailable, .routeStops, .routeDirection
    .routeStops, 
    .routeDirection { 
        display: none;
    }
}//end .routeInfo form