&.predictions {
    display: none;
    .route-info {
            margin: 20px 0 0 0;
            width: 100%;
            @include media (tablet) {
                width: 100%;
            }
            @include media (mediumDesktop) { 
                width: 100%;
            }
            @include media (largeDesktop) {
                width: 100%; 
            }
            
            @import "../layout/selectMode";
            @import "../layout/selectRoutes";
            @import "../layout/selectDirection";
            @import "../layout/selectStop";

            .route-stops, 
            .route-direction { 
                display: none;
            }                    
    }

    @import "../layout/predictions";    

    @import "../layout/map";  
}

